<div class="container">
  <h1 class="results-header">Search Results</h1>
</div>

<div class="container results">
  <%= @results.each do |result| %>
    <div class="card product-card">
      <%= image_tag(result.image, class: "product-image") %>
      <div class="card-body">
        <h5 class="card-title"><%= result.name %></h5>
        <p class="card-text"><%= result.description %></p>
        <%= button_to "Add to Cart", line_items_path(id: result.id, product_id: result.id), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<hr />
