<%= form_with(model: item, html: { class: "form-group new-item-form" }) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name of Dish" %>

  <%= f.label :price %>
  <%= f.number_field :price, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Dish description", class: "form-control" %>

  <%= f.label :image %>
  <%= f.file_field :image, class: "form-control" %>

  <%= f.label :vegan, "Vegan:" %>
  <%= f.select :vegan, [["True", true], ["False", false]], class: "form-control select-field" %>

  <%= f.label :vegetarian, "Vegetarian:" %>
  <%= f.select :vegetarian, [["True", true], ["False", false]], class: "form-control select-field" %>

  <%= f.label :nut_free, "Nut Free:" %>
  <%= f.select :nut_free, [["True", true], ["False", false]], class: "form-control select-field" %>

  <%= f.label :dairy_free, "Dairy Free:" %>
  <%= f.select :dairy_free, [["True", true], ["False", false]], class: "form-control select-field" %>

  <%= f.label :available, "Available:" %>
  <%= f.select :available, [["True", true], ["False", false]], class: "form-control select-field" %>

  <div class="form-actions">
    <%= f.submit "Save Dish", class: "btn btn-primary create-dish" %>
  </div>

<% end %>
