<div class="container product-show">
  <div class="card product-card">
    <%= image_tag @product.image, class: "product-image" %>
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="text"><%= @product.description %></p>
      <%= link_to "Edit Item", edit_product_path(@product), class: "btn btn-primary" %>
      <%= link_to "Delete Item", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
